:root {
  --primary-color: #231B1B; /* dark olive green */
  --secondary-color: #fbf1c7; 
  --alternative-color: #F3FAE1 /* magenta pink */
  ;
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

.dark h1,
.dark h2,
.dark h3 {
  color: var(--secondary-color);
}


.dark .pagination a {
  color: var(--primary-color);
}

a:hover {
  color: #01364f
  }
.dark a:hover {
    color: var(--alternative-color);
  }

/* Light mode */
header nav a {
    color: var(--primary-color); /* Change this to your desired color */
  }
  
  /* Dark mode */
  .dark header nav a {
    color: var(--secondary-color);    /* Change this to your desired color */
  }
  
  
  .social-icons a {
    color: var(--primary-color);
  }
  
  .dark .social-icons a {
    color: var(--secondary-color);
  }
  .social-icons a:hover {
    color: var(--alternative-color);
  }
  
  .dark .social-icons a:hover {
    color: var(--alternative-color);
  }

  .tag-cloud {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  .tag-cloud__item {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .tag-cloud__item:hover {
    background-color: #fff;
    color: #002739;
    transform: scale(1.3);
  }
  
  .dark .tag-cloud__item {
    background-color: #3333332f;
    color: #eeffff;
  }
  
  .dark .tag-cloud__item:hover {
    background-color: #33333367;
    color: var(--alternative-color);
  }
  
  
  .tag-cloud-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  