:root {
    --primary-color: #592e00;
    --secondary-color: #ee9a2b;
    --alternative-color: #fcc81a;
  }
  a {
    color: var(--primary-color);
  }
  .dark a {
    color: var(--secondary-color);
  }
  
  a:hover {
    color: var(--alternative-color);
  }
  
  h1,
  h2,
  h3 {
    color: var(--primary-color);
  }
  
  .dark h1,
  .dark h2,
  .dark h3 {
    color: var(--secondary-color);
  }
  
  .dark .pagination a {
    color: var(--primary-color);
  }