
.logo {
    position: relative;
    font-family: Monaco, Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-size: 24px;
    color: var(--content);
    min-width: 360px;
}


.logo::after {
    content: "";
    position: relative;
    top: 1px;
    right: -8px;
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: var(--primary-color);
    vertical-align: top;
    width: 12px;
    /* Set height to the line height of .text */
    height: 20px; /* Adjusted to match the line height */
    /* 
    Animation parameters:
    blink = animation-name, 
    1s = animation-duration, 
    step-end = animation-timing-function,
    infinite = animation-iteration-count
    */
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}


.dark .logo::after {
    background-color: var(--content);
}

@-webkit-keyframes blink {
    0% {
    opacity: 1.0;
    }
    50% {
    opacity: 0.0;
    }
    100% {
    opacity: 1.0;
    }
}

@keyframes blink {
    0% {
    opacity: 1.0;
    }
    50% {
    opacity: 0.0;
    }
    100% {
    opacity: 1.0;
    }
}
