<div class="post-content">
    <fieldset style="border-radius: 10px;">
      <p>You can reach out to me at 💌 <span id="eml" style="cursor:pointer"><a title="Email" href="mailto:asadse7en@gmail.com">asadse7en@gmail.com</a></span> ,  &nbsp  let's chat 💬<code>asadse7en#0775</code></p>
      <script>
        const eml = "YXNhZHNlN2VuQGdtYWlsLmNvbQ==";
        document.getElementById("eml").innerHTML = `<a title="Previously it was '${atob("YXNhZHNlN2VuQGdtYWlsLmNvbQ==")}'" href="mailto:${atob(eml)}">${atob(eml)}</a>`;
      </script>
    </fieldset>
  </div>
  