.main {
    position: relative;
    min-height: calc(100vh - var(--footer-height));
    max-width: var(--main-width);
    margin: auto;
    padding: var(--gap);
    padding-top: calc(var(--header-height) + var(--gap));
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

/* Light mode */
.paginav .next,
.paginav .prev {
  padding: 10px 20px;
  background-color: #fff
  border: none;
  border-radius: 25px;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.paginav .next:hover,
.paginav .prev:hover {
  background-color: rgb(234, 234, 234);
  color: var(--primary-color);
  transform: scale(1.1);
}

/* Dark mode */
.dark .paginav .next,
.dark .paginav .prev {
  padding: 10px 20px;
  background-color: rgb(55, 56, 62);
  border: none;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.dark .paginav .next:hover,
.dark .paginav .prev:hover {
  background-color: rgb(77, 80, 97);
  transform: scale(1.1);
}
